.footer-area{
    background-image: url(../../../images/footer-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
}

.footer-area li{
    padding-bottom: 10px;
}
.footer-tex{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: gray;
  }
.social-media .icon{
    height: 40px;
    width: 40px;
    color: #1cc7c1;
    border-radius: 50%;
    border: 1px solid #6ACECE;
    padding: 10px;
}
.social-media .active-icon{
    background-color: #6ACECE ;
    color:white;
}